<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout :: head}"></head>
<body class="main-body">
<th:block th:replace="~{layout :: template('Inventories')}"></th:block>
<main>
    <div class="grid-container">
        <a th:href="@{/inventories/upsertForm}" class="blue-button create-button">Insert New Inventory</a>
        <table>
            <thead>
            <tr>
                <th>Action</th>
                <th>Name</th>
                <th>Stock</th>
                <th>Description</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="row : ${grid}" th:object="${row}">
                <td>
                    <a class="blue-button update-button" th:href="@{/inventories/upsertForm(name=*{name})}" th:attr="data-id=*{name}">Edit</a>
                    <a class="blue-button delete-button" href="javascript:;" th:attr="data-id=*{name}">Delete</a>
                </td>
                <td th:text="*{name}"></td>
                <td th:text="*{stock}"></td>
                <td th:text="*{description}"></td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <td colspan="4">
                    <div class="pagination">
                        <div th:text="|page ${currentPage} of ${totalPages}|"></div>
                        <div th:if="${totalPages != 0}">
                            <a th:each="number : ${#numbers.sequence(1, totalPages)}"
                               th:text="${number}"
                               th:href="@{/inventories/index(page=${number})}"></a>
                        </div>
                    </div>
                </td>
            </tr>
            </tfoot>
        </table>
    </div>
</main>
<div class="modal-layer">
    <th:block th:replace="inventories/inventories-form-insert :: formDialog"></th:block>
    <th:block th:replace="inventories/inventories-form-update :: updateDialog"></th:block>
    <th:block th:replace="~{inventories/inventories-delete :: deleteDialog}"></th:block>
</div>
<script th:src="@{/resources/js/inventories/inventories-popup.js}"></script>
</body>
</html>