<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>AdministratorsForm</title>
</head>
<body>
<div th:fragment="formDialog" class="popup-dialog form-dialog">
    <header>
        <h1>Administrators Form</h1>
    </header>
    <form class="alternate-action">
        <table>
            <tbody>
            <tr>
                <td>Username*</td>
                <td>
                    <input type="text" class="username">
                    <div class="validation-message" data-for="username"></div>
                </td>
            </tr>
            <tr>
                <td>Job Title*</td>
                <td>
                    <input type="text" class="jobTitle">
                    <div class="validation-message" data-for="jobTitle"></div>
                </td>
            </tr>
            </tbody>
        </table>
        <button class="blue-button" type="submit">Submit</button>
        <a href="javascript:;" class="blue-button close-button">Close</a>
    </form>
</div>
</body>
</html>