<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout :: head}"></head>
<body class="main-body">
<th:block th:replace="~{layout :: template('Change Password')}"></th:block>
<main>
  <form class="upsert-form" method="post" th:action="@{/account/changePasswordGuest}" th:object="${dto}">
    <input type="hidden" th:field="*{username}">
    <table>
      <tbody>
      <tr>
        <td>
          <label>Username</label>
        </td>
        <td>
          <span th:text="*{username}"></span>
        </td>
      </tr>
      <tr>
        <td>
          <label>Old Password</label>
        </td>
        <td>
          <input type="password" th:field="*{oldPassword}">
          <div th:errors="*{oldPassword}" class="field-validation-error"></div>
          <div th:errors="${dto}" class="field-validation-error"></div>
        </td>
      </tr>
      <tr>
        <td>
          <label>New Password</label>
        </td>
        <td>
          <input type="password" th:field="*{password}">
          <div th:errors="*{password}" class="field-validation-error"></div>
          <div th:errors="${dto}" class="field-validation-error"></div>
        </td>
      </tr>
      <tr>
        <td>
          <label>Confirm Password</label>
        </td>
        <td>
          <input type="password" th:field="*{confirmPassword}">
          <div th:errors="*{confirmPassword}" class="field-validation-error"></div>
        </td>
      </tr>
      </tbody>
    </table>
    <button type="submit" class="blue-button">Change Password</button>
  </form>
</main>
</body>
</html>